
/* ===== common styles ===== */


/* ===== shared styles ===== */
    .btn_primary{
        font-family: "Fira Sans", serif;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        padding: 17px 34px;
        border-radius: 8px;
        background-color: rgba(0, 106, 80, 1);
        border: none;
        cursor: pointer;
    }
    .btn_primary:hover{
        transition: .5s;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
        background: #4F95DA;
    }

/* ===== nav styles ===== */
.nav_title{
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
.signin_btn{
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;
    background-color: #ffffff;
    border-color: #006A50;
    border-radius: 8px;
    transition: background-color .5s, color .5s;
    cursor: pointer;
}
.signin_btn:hover{
    background-color: #1EE0EA;
    color: #ffffff;
}
.signin_btn:active{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
nav ul li{
    list-style: none;
}
.nav_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 160px;
}

/* ===== banner styles ===== */
.banner_section{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    max-width: 1280px;
    padding: 100px 60px;
    align-items: center;
    margin: 0 auto;
    border-radius: 24px;
}
.banner_name{
    font-family: "Fira Sans", serif;
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
    margin-bottom: -50px;
}
.banner_title{
    font-family: "Fira Sans", serif;
    font-size: 56px;
    font-weight: 700;
    color: rgba(14, 14, 14, 1);
    padding-right: 190px;
    margin-bottom: 20px;
}
.banner_profile_pic{
    max-width: 475px;
}



/* 

    font-family: "Fira Sans", serif;

*/